/*
Theme Name:     P2 Child
Theme URI:      http://p2theme.com/
Description:    Child theme for the P2 theme
Author:         Henry Addo
Author URI:     http://about.me
Template:       p2                            
Version:        1.0
*/

@import url("../p2/style.css");

#page_container {
     width: 1005px;
     margin: 0 auto;
     background: url(images/light-black);
    
}

h2 a {
      color: #000;
}

h4 a {
      color: #000;
}

#header .sleeve, #wrapper, #footer {
	border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}